@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Condensed", sans-serif;
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    line-height: 1.5rem;
  }

  p,
  small {
    font-weight: 400;
    line-height: 1rem;
  }

  h1 {
    font-size: 2.875rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-weight: 1.5rem;
  }

  h4 {
    font-weight: 1.25rem;
  }

  p {
    font-weight: 1rem;
  }

  small {
    font-weight: 0.75rem;
  }

  b {
    font-weight: 700;
  }

  input {
    @apply w-full h-full bg-dark rounded-xl focus:outline-1 outline-offset-1 outline-sky indent-3 text-sky;
  }

  button {
    @apply rounded-xl h-3/5 w-2/5 text-center font-bold hover:opacity-70 transition-opacity delay-200 duration-200;
  }

  .inputIcon {
    @apply absolute right-3 text-sky;
  }

  .opacity-hover {
    @apply hover:opacity-75 cursor-pointer delay-75 transition-opacity duration-75 ease-in-out;
  }

  .color-hover {
    @apply text-main hover:text-triadic transition-colors duration-500 ease-in-out
  }

  @keyframes backgroundSway {
    0% {
      background-size: 200% 200%;
      background-position: 0% 0%;
    }

    50% {
      background-size: 200% 200%;
      background-position: 100% 0%;
    }

    75% {
      background-size: 200% 200%;
      background-position: 100% 100%;
    }

    100% {
      background-size: 200% 200%;
      background-position: 0% 75%;
    }
  }

  .wrapper {
    background: linear-gradient(75deg,
        rgba(193, 157, 143, 1) 0%,
        rgba(181, 164, 172, 1) 25%,
        rgba(168, 154, 163, 1) 50%,
        rgba(118, 114, 128, 1) 75%,
        rgba(88, 97, 114, 1) 100%);
    animation: backgroundSway 8s ease infinite alternate;
  }

  .loginBg {
    background-image: url("/img/dark-city.jpg");
    background-position: center;
    transition: background 0.8s ease-in-out;
    background-blend-mode: overlay;
  }
}